<footer>
    <div class="container">
        <div class="footer-wrap">
            <div class="item">
                <div class="ttl">
                    Tools
                    <i class="fa fa-angle-down"></i>
                </div>
                <ul>
                    <li><a href="">Exchange 24/7</a></li>
                    <li><a href="">Analytic reports</a></li>
                    <li><a href="">Private Trader</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="ttl">Source
                    <i class="fa fa-angle-down"></i>
                </div>
                <ul>
                    <li><a href="">Support</a></li>
                    <li><a href="">BOT API</a></li>
                    <li><a href="">Developers Blog</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="ttl">Info
                    <i class="fa fa-angle-down"></i>
                </div>
                <ul>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Exchange rules</a></li>
                    <li><a href="">Investment sevice</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="ttl">Company
                    <i class="fa fa-angle-down"></i>
                </div>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="ttl">&nbsp;</div>
                <ul>
                    <li><a href=""><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href=""><i class="fa fa-youtube"></i>YouTube</a></li>
                    <li><a href=""><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copy">
            <div class="select_wrap">
                <i class="ico ico-world"></i>
                <div class="select">
                    <select name="" id="">
                        <option value="">English</option>
                        <option value="">French</option>
                    </select>
                </div>
            </div>
            <div class="right_wrap">
                <ul>
                    <li><a href="">Terms of use</a></li>
                    <li><a href="">User Agreement</a></li>
                </ul>
                <div class="copy">&copy; 2017—2018 CryptoMaker All Rights Reserved</div>
            </div>
        </div>
    </div>
</footer>