<header>
    <div class="header-wrap">
        <div class="logo">
            <strong>Crypto</strong>Maker
        </div>
        <nav>
            <button type="button" class="nav-trigger">
                <div class="xclose">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <ul>
                <li><a href="">How it works</a></li>
                <li><a href="">Product</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Pricing</a></li>
            </ul>
        </nav>

    </div>
    <button class="btn btnBlack"><span>Get VIP Access</span></button>
</header>