<section class="section-3">
    <div class="advertsWrap">
        <div class="item w50p " style="background-image: url('img/bg-left.jpg');">
            <div class="item-text-wrap anLeft">
                <div class="ttl">Blockchain <br> to beauty industry</div>
                <a class="link">PreSale offer to VIP users</a>
            </div>
        </div>
        <div class="item w50p " style="background-image: url('img/bg-right.jpg');">
            <div class="item-text-wrap anRight">
                <div class="ttl">BOT platform for developers</div>
                <a href="" class="link">How to install?</a>
            </div>
            <div class="item-play-wrap">
                <a class="icoPlay"></a>
                <div class="text-wrap">
                    <div class="play-ttl">Watch video</div>
                    <div class="play-sub-ttl">About BOT platform <br> for developers</div>
                </div>
            </div>
        </div>
        <div class="item w60p ">
            <i class="ico ico-ripple-logo"></i>
            <div class="item-wrap anUp">
                <div class="ttl">XRP The Digital Asset for Payments</div>
                <p>It’s the fastest and most scalable digital asset,
                    enabling real-time global payments
                    anywhere in the world.</p>
                <a href="" class="more">Learn more</a>
            </div>
        </div>
        <div class="item w40p ">
            <div class="item-wrap anUp">
                <div class="ttl ttu">PAYMENT PROVIDERS</div>
                <p>Payment Providers use XRP to expand reach into new markets, lower foreign exchange costs and provide
                    faster payment settlement.</p>
                <a href="" class="more">Learn more</a>
            </div>
            <i class="ico ico-cashr"></i>
        </div>
    </div>
</section>