<section class="section-4">
    <div class="section-part left w70p">
        <div class="section-title">
            <div class="ttl anLeft">Exchange your cryptocurrency</div>
        </div>
        <div class="calculator ">
            <div class="content-bar">
                <div class="left-part w50p">
                    <div class="wrapper">
                        <label>
                            You give
                            <span class="select">
                            <select name="">
                            <option value="">BTC</option>
                            <option value="">UTC</option>
                            <option value="">LTC</option>
                        </select>
                        </span>
                        </label>
                        <div class="foot-bar">
                            <div class="input_wrap right_pos">
                                <input type="text" class="txt">
                            </div>
                            <div class="balance">
                                Balance: <a>123 022 321 USD</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="changeBtn"></button>
                <div class="right-part w50p">
                    <div class="wrapper">
                        <label>
                            You get
                            <span class="select">
                            <select name="">
                            <option value="">USD</option>
                            <option value="">UAH</option>
                            <option value="">EUR</option>
                        </select>
                        </span>
                        </label>
                        <div class="foot-bar">
                            <div class="input_wrap">
                                <input type="text" class="txt">
                            </div>
                            <div class="balance">
                                Available balance: <a>27.03232132 BTC</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar">
                <div class="note">
                    <div>Commision (0.5%) = 0.000021 BTC</div>
                    <div>1 BTC = 8.462 USD</div>
                </div>
                <button class="btn btnBlue"><span>Change crypto now</span></button>
            </div>
        </div>
    </div>
    <div class="section-part right w30p">
        <div class="section-title">
            <div class="ttl anRight">Work with awesome services</div>
        </div>
        <div class="partners ">
            <div class="item">
                <img src="img/logos/kiwi.png" alt="">
            </div>
            <div class="item">
                <img src="img/logos/perfect.png" alt="">
            </div>
            <div class="item">
                <img src="img/logos/payeer.png" alt="">
            </div>
            <div class="item">
                <img src="img/logos/advcash.png" alt="">
            </div>
            <div class="item">
                <img src="img/logos/easypay.png" alt="">
            </div>
            <div class="item">
                <img src="img/logos/payoneer.png" alt="">
            </div>
        </div>
    </div>
</section>