<section class="section-2">
    <div class="side top">
        <div class="item item-title">
            <i class="ico ico-bitcoin-2"></i>
            <div class="item-wrap">
                <div class="item-name">Bitcoin</div>
                <div class="item-count">8 876 USD</div>
                <div class="percent up">+17.1 %</div>
            </div>
        </div>
        <div class="item">
            <i class="ico ico-bitcash"></i>
            <div class="item-wrap">
                <div class="item-name">Etherium</div>
                <div class="item-count">876 USD</div>
                <div class="percent up">+0.2 %</div>
            </div>
        </div>
        <div class="item">
            <i class="ico ico-litecoine"></i>
            <div class="item-wrap">
                <div class="item-name">Litecoin</div>
                <div class="item-count">117.23 USD</div>
                <div class="percent up">+0.2 %</div>
            </div>
        </div>
        <div class="item">
            <i class="ico ico-dash"></i>
            <div class="item-wrap">
                <div class="item-name">dash</div>
                <div class="item-count">23.22 USD</div>
                <div class="percent down">-0.2 %</div>
            </div>
        </div>
        <div class="item">
            <i class="ico ico-ripple"></i>
            <div class="item-wrap">
                <div class="item-name">ripple</div>
                <div class="item-count">2.32 USD</div>
                <div class="percent up">+0.2 %</div>
            </div>
        </div>
        <div class="item">
            <i class="ico ico-bitcash"></i>
            <div class="item-wrap">
                <div class="item-name">Bitcoincash</div>
                <div class="item-count">1 876 USD</div>
                <div class="percent down">-3.9 %</div>
            </div>
        </div>
    </div>
    <div class="chart-wrap">
        <div class="filters">
            <div class="filter-list">
                <ul>
                    <li>USD/BTC</li>
                    <li>ETH/BTC</li>
                    <li>DASH/BTC</li>
                    <li>DASH/BTC</li>
                </ul>
            </div>
            <div class="filter-list">
                <ul>
                    <li>1d</li>
                    <li>1w</li>
                    <li>1m</li>
                    <li>YTD</li>
                    <li>1Y</li>
                    <li>3Y</li>
                    <li>5Y</li>
                </ul>
            </div>
        </div>
        <div class="chart" >
            <canvas id="myChart" style="height:320px;width: content-box;"></canvas>
            <!--<img src="img/demo/chart.jpg" alt="">-->
        </div>
    </div>
    <div class="side halfs bottom">
        <div class="side-left">
            <div class="item">
                <div class="percent up">+ 17.1%</div>
                <div class="item-sub-ttl">Day changes</div>
            </div>
            <div class="item">
                <div class="percent up">+ 17.1%</div>
                <div class="item-sub-ttl">Week changes</div>
            </div>
            <div class="item">
                <div class="percent up">- 0.1%</div>
                <div class="item-sub-ttl">Month changes</div>
            </div>
            <div class="item">
                <div class="percent up">+ 82.1%</div>
                <div class="item-sub-ttl">Year changes</div>
            </div>
        </div>
        <div class="side-right">
            <div class="item">
                <div class="item-count">8 720 BTC</div>
                <div class="item-sub-ttl">DTrade volume (24h)</div>
            </div>
            <div class="item item-title">
                <div class="item-ttl">Buy now</div>
            </div>
        </div>

    </div>
</section>
