
/*Rubik*/
@font-face {
    font-family: 'RubikRegular';
    src: url('../fonts/Rubik-Regular/Rubik-Regular.eot');
    src: local('☺'), url('../fonts/Rubik-Regular/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeReg';
    src: url('../fonts/SegoeUIRegular/SegoeUIRegular.eot');
    src: local('☺'), url('../fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
    url('../fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');
}


@font-face {
    font-family: 'RubikLight';
    src: url('../fonts/Rubik-Light/Rubik-Light.eot');
    src: local('☺'), url('../fonts/Rubik-Light/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik-Light/Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikMedium';
    src: url('../fonts/Rubik-Medium/Rubik-Medium.eot');
    src: local('☺'), url('../fonts/Rubik-Medium/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium/Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikBold';
    src: url('../fonts/Rubik-Bold/Rubik-Bold.eot');
    src: local('☺'), url('../fonts/Rubik-Bold/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik-Bold/Rubik-Bold.ttf') format('truetype');
}

