@import "mixins";
/*default*/

body {
  min-height: 100%;
  height: 100%;
}

html {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  .font-size(11);
  border: none;
  .transition(all 0.4s);
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0% 100%;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  &:hover {
    cursor: pointer;
    &:before {
      opacity: 1;
      transform: rotate3d(0, 0, 1, 0deg);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      z-index: 1;
    }
    span {
      z-index: 2;
    }
  }
  span {
    font-size: inherit;
    color: inherit;
    position: relative;
  }
  &.btnBlack {
    background: #000;
    height: 60px;
    width: 260px;
    text-align: center;
    position: relative;
    overflow: hidden;
    @media @mobile {
      width: auto;
      padding: 0 15px;
    }
    &:hover {
      cursor: pointer;
      &:before {
        background-color: #fff;
      }
      span {
        z-index: 2;
        color: #000;
      }
    }
    span {
      font-size: inherit;
      color: inherit;
      position: relative;
    }
  }
  &.btnBlue {
    height: 100px;
    background: @blue;
    color: #fff;
    text-transform: uppercase;
    .font-size(18);
    font-family: @RM;
    padding: 0 50px;
    display: flex;
    align-items: center;
    @media @tablet, @mobile {
      height: 60px;
    }
    &:hover {
      cursor: pointer;
      &:before {
        background-color: @darkBlue;
      }
      span {
        z-index: 2;
        color: #fff;
      }
    }
  }
}

.ico {
  display: block;
  background-size: cover;
  &.ico-user {
    background-image: url('../img/ico/ico-user.png');
    width: 52px;
    height: 52px;
    @media @mobile {
      height: 26px;
      width: 26px;
    }
  }
  &.ico-graph {
    background-image: url('../img/ico/ico-graph.png');
    width: 50px;
    height: 50px;
    @media @mobile {
      width: 25px;
      height: 25px;
    }
  }
  &.ico-bitcoin {
    background-image: url('../img/ico/ico-bitcoin.png');
    width: 37px;
    height: 50px;
    @media @mobile {
      width: 19px;
      height: 25px;
    }
  }
  &.ico-save {
    background-image: url('../img/ico/ico-save.png');
    width: 32px;
    height: 40px;
  }
  &.ico-pc {
    background-image: url('../img/ico/ico-pc.png');
    width: 40px;
    height: 31px;
  }
  &.ico-money {
    background-image: url('../img/ico/ico-money.png');
    width: 40px;
    height: 24px;
  }
  &.ico-network {
    background-image: url('../img/ico/ico-network.png');
    width: 43px;
    height: 42px;
  }
  &.ico-bag {
    background-image: url('../img/ico/ico-bag.png');
    width: 40px;
    height: 32px;
  }
  &.ico-bitcoin-2 {
    background-image: url('../img/ico/ico-bitcoin-2.png');
    width: 23px;
    height: 32px;
  }
  &.ico-bitcash {
    background-image: url('../img/ico/ico-bitcash.png');
    width: 22px;
    height: 35px;
  }
  &.ico-litecoine {
    background-image: url('../img/ico/ico-litecoin.png');
    width: 24px;
    height: 27px;
  }
  &.ico-dash {
    background-image: url('../img/ico/ico-dash.png');
    width: 32px;
    height: 21px;
  }
  &.ico-ripple {
    background-image: url('../img/ico/ico-ripple.png');
    width: 27px;
    height: 28px;
  }
  &.ico-world {
    background-image: url('../img/ico/ico-world.png');
    width: 18px;
    height: 18px;
  }
}

.container {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  .transition(all 0.4s);
  .logo {
    .font-size(22);
    font-family: @RR;
    color: #fff;
    padding-left: 20px;
    @media @mobile {
      padding-left: 60px;
    }
    strong {
      font-family: @RB;
      font-size: inherit;
      color: inherit;
    }
  }
  .header-wrap {
    display: flex;
    align-items: center;
  }
  &.sticky {
    background: #000;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    .btnBlack {
      background: #fff;
      color: #000;
      &:hover {
        &:before {
          background: #000;
        }
        span {
          color: #fff;
        }
      }
    }
  }
}

nav {
  margin-left: 90px;
  @media @tablet, @mobile {
    margin-left: 0;
  }
  ul {
    display: flex;
    @media @mobile {
      background: #000;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 500;
      .transition(all 0.4s);
      .transform(translateX(-100%));
    }
  }
  a {
    display: block;
    padding: 20px;
    .font-size(14);
    color: #fff;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: @green;
      position: absolute;
      left: 0;
      bottom: -3px;
      .transition(all 0.4s);
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.show-nav {
  .nav-trigger {
    &:focus {
      outline: none;
    }
    span {
      background-color: #fff;
      &:nth-child(1) {
        transform: rotate(405deg);
        top: 5px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-405deg);
        bottom: 5px;
      }
    }
  }
  header {
    nav {
      ul {
        .transform(translateX(0%));
      }
    }
  }
}

.nav-trigger {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  height: 30px;
  padding: 0;
  width: 30px;
  cursor: pointer;
  z-index: 520;
  position: fixed;
  left: 15px;
  top: 15px;
  display: none;
  @media @mobile {
    display: block;
  }
  &:focus {
    outline: none;
  }
  span {
    background-color: #fff;
    display: block;
    height: 2px;
    margin: 3px auto;
    position: relative;
    transition: all 1s ease 0s;
    width: 18px;
    &:nth-child(2) {
      width: 16px;
    }
  }
}

.icoPlay {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  display: block;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 0 9.5px 16px;
    border-color: transparent transparent transparent #fff;
    .pos-center;
  }
}

.more {
  color: @blue;
  .font-size(14);
  font-family: @RM;
  display: block;
  &:after {
    content: '';
    display: inline-block;
    background-image: url('../img/ico/ico-arrow.png');
    width: 16px;
    height: 7px;
    margin-left: 15px;
  }
}

.side {
  display: flex;
  width: 100%;
  @media @mobile {
    flex-wrap: wrap;
  }
  &.halfs {
    .side-left, .side-right {
      width: 50%;
      display: flex;
      justify-content: space-between;
      @media @mobile {
        width: 100%;
      }
    }
  }
  .item {
    height: 150px;
    width: ~"calc(100% / 6)";
    padding: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media @desktop, @tablet, @mobile {
      padding: 15px;
      width: ~"calc(100% / 3)";
    }
    @media @mobile {
      height: auto;
    }
    &:hover {
      .transition(all 0.4s);
    }
    &-title {
      align-items: center;
    }
    &-ttl {
      font-family: @RM;
      .font-size(18);
      text-transform: uppercase;
    }
    &-sub-ttl {
      .font-size(14);
    }
    &-name {
      text-transform: uppercase;
      .font-size(12);
    }
    &-count {
      .font-size(24);
      font-family: @RM;
      margin-bottom: 5px;
      @media @desktop {
        .font-size(20);
      }
      @media @tablet, @mobile {
        .font-size(16);
      }
      @media @mobile {
        .font-size(14);
      }
    }
  }
}

.topSection {
  height: 100vh;
  background-image: url('../img/bg-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  position: relative;
  @media @mobile {
    height: auto;
    background-position: right 20% top;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: ~"calc(100% - 150px)";
    padding-top: 60px;
    overflow: hidden;
    @media @tablet, @mobile {
      flex-direction: column;
    }
  }
  .slogan {
    padding-left: 140px;
    .font-size(60);
    font-family: @RL;
    color: #fff;
    line-height: 55px;
    width: 50%;
    @media @desktop {
      padding-left: 50px;
      .font-size(45);
    }
    @media @tablet, @mobile {
      .font-size(45);
      padding: 50px 0;
    }
    @media @mobile {
      .font-size(30);
      line-height: 50px;
      text-align: center;
    }
  }
  .side {
    position: absolute;
    bottom: 0;
    left: 0;
    @media @tablet, @mobile {
      position: relative;
      bottom: auto;
      left: auto;
    }
    .item {
      background: #0069d5;
      &:hover {
        background: #005cb9;
      }
      &-title {
        background: #005cb9;
      }
      .ico-box {
        height: 42px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        @media @mobile {
          height: 30px;
        }
      }
      &-ttl {
        color: #fff;
      }
      &-sub-ttl {
        color: #fff;
      }

    }
  }
}

.statistics {
  max-width: 50%;
  width: 100%;
  display: flex;
  @media @tablet {
    max-width: 80%;
  }
  @media @mobile {
    max-width: 90%;
  }
  .item {
    height: 210px;
    width: ~"calc(100% / 3)";
    padding: 40px;
    @media @desktop {
      min-width: inherit;
      padding: 20px;
      height: 170px;
    }
    @media @tablet, @mobile {
      min-width: inherit;
      padding: 20px;
      height: 150px;
    }
    @media @mobile {
      padding: 10px;
      height: 90px;
    }
    &:nth-child(1) {
      background-color: rgba(0, 0, 0, 0.5);
    }
    &:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.4);
    }
    &:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .ico {
      margin-bottom: 25px;
      @media @mobile {
        margin-bottom: 10px;
      }
    }
    &-count {
      color: @green;
      .font-size(24);
      font-family: @RM;
      @media @mobile {
        .font-size(20);
      }
    }
    &-descr {
      .font-size(12);
    }
  }
}

.percent {
  &.up {
    color: @darkGreen;
  }
  &.down {
    color: @red;
  }
}

.section-2 {
  background: #000;
  .side {
    &.top {
      border-bottom: 1px solid @gray;
      .item {
        border-right: 1px solid @gray;
        flex-direction: row;
        align-items: center;
        @media @tablet, @mobile {
          flex-direction: column;
        }
        &:hover {
          background: @gray;
        }
        &:last-child {
          border-right: 0;
        }
        &-wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;
          @media @tablet, @mobile {
            margin: 10px 0 0 0;
            text-align: center;
          }
        }
        &-title {
          background: @gray;
          .item-count {
            color: #fff;
          }
        }
        .percent {
          .font-size(14);
        }
      }
    }
    &.bottom {
      background: @gray;
      .item-title {
        background: #00c036;
        .item-ttl {
          color: #fff;
        }
      }
      .side-left {
        .item {
          width: ~"calc(100% / 4)";
          &:hover {
            background: #000;
          }
          .percent {
            .font-size(24);
          }
          &-sub-ttl {
            .font-size(12);
            color: #444;
          }
        }
      }
      .side-right {
        justify-content: flex-end;
        .item {
          width: ~"calc(100% / 3)";
          &-count {
            color: #fff;
          }
          &-sub-ttl {
            .font-size(12);
            color: #444;
          }
        }
      }
    }
  }
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px;
    @media @tablet, @mobile {
      flex-direction: column;
      align-items: flex-end;
    }
    ul {
      display: flex;
      align-items: center;
    }
    li {
      font-family: @RM;
      .font-size(14);
      color: #fff;
      padding: 15px 25px;
      position: relative;
      cursor: pointer;
      @media @mobile {
        padding: 7px 10px;
      }
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: #fff;
        .transition(all 0.4s);
        position: absolute;
        left: 0;
        bottom: 0;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.advertsWrap {
  display: flex;
  flex-wrap: wrap;
  .item {
    &:nth-child(1) {
      height: 400px;
      display: flex;
      align-items: center;
      padding-left: 190px;
      background-size: cover;
      @media @tablet {
        height: 320px;
      }
      @media @mobile {
        width: 100%;
        height: 240px;
        padding-left: 30%;
      }
      .ttl {
        color: #28395a;
      }
      .link {
        color: #503901;
      }
    }
    &:nth-child(2) {
      height: 400px;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-color: @darkBlue;
      padding: 60px 45px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media @desktop, @tablet, @mobile {
        background-size: 75% auto;
      }
      @media @tablet, @mobile {
        height: 320px;
      }
      @media @mobile {
        height: 240px;
        width: 100%;
        padding: 30px;
      }
      .item-play-wrap {
        display: flex;
        align-items: center;
        .icoPlay {
          margin-right: 15px;
        }
        .play-ttl {
          color: #fff;
          font-family: @RM;
          .font-size(14);
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        .play-sub-ttl {
          .font-size(12);
          color: #90a4ae;
          line-height: 12px;
        }
      }
    }
    &:nth-child(3) {
      height: 300px;
      background: #eceff1;
      display: flex;
      justify-content: center;
      padding: 80px 140px 50px;
      @media @tablet {
        padding: 30px 20px;
        height: 250px;
        width: 50%;
      }
      @media @mobile {
        height: auto;
        width: 100%;
        flex-direction: column;
        padding: 15px;
      }
      .ttl {
        color: @black;
      }
      .ico-ripple-logo {
        background-image: url('../img/ripple-logo.png');
        background-repeat: no-repeat;
        width: 200px;
        height: 59px;
        margin-right: 40px;
        @media @tablet {
          width: 100%;
        }

      }
      .item-wrap {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media @mobile {
          max-width: 100%;
          padding-top: 15px;
        }
      }
    }
    &:nth-child(4) {
      height: 300px;
      background: #cfd8dc;
      display: flex;
      align-items: center;
      @media @tablet {
        height: 250px;
        width: 50%;
      }
      @media @mobile {
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        padding-top: 15px;
      }
      .item-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 80px 20px 50px 40px;
        @media @tablet {
          padding: 30px 20px;
        }
        @media @mobile {
          padding: 15px;
          height: auto;
        }
      }
      .ttl {
        color: @black;
      }
      .ico-cashr {
        background-image: url('../img/ico/ico-cashr.png');
        width: 100%;
        height: 231px;
        @media @mobile {
          width: 234px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

    }
    .ttl {
      .font-size(24);
      margin-bottom: 15px;
    }
    .link {
      .font-size(14);
      text-decoration: underline;
    }
  }
}

.section-4 {
  display: flex;
  @media @tablet, @mobile {
    flex-direction: column;
  }
  .section-part {
    @media @tablet, @mobile {
      width: 100%;
    }
    &.left {
      .section-title {
        background: #fdfdfd;
        padding-left: 140px;
        @media @tablet {
          padding-left: 30px;
        }
        @media @mobile {
          padding-left: 15px;
        }
      }
    }
    .section-title {
      height: 100px;
      padding: 0 40px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid @border;
      @media @tablet, @mobile {
        height: 60px;
      }
      @media @mobile {
        padding: 0 15px;
      }

      .ttl {
        .font-size(24);
        color: @black;
      }
    }
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  height: ~"calc(100% - 100px)";
  @media @tablet, @mobile {
    height: auto;
  }
  .content-bar {
    display: flex;
    height: ~"calc(100% - 100px)";
    position: relative;
    @media @tablet, @mobile {
      height: auto;
    }
  }
  .footer-bar {
    height: 100px;
    padding-left: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media @tablet, @mobile {
      padding-left: 30px;
      height: 60px;
    }
    @media @mobile {
      height: auto;
      flex-direction: column;
    }
    .note {
      @media @mobile {
        padding: 20px 0;
      }
      div {
        .font-size(12);
      }

    }
  }
  .left-part {
    background: #fdfdfd;
    height: 100%;
  }
  .right-part {
    background: #f7f7f7;
    height: 100%;
  }
  .wrapper {
    max-width: 280px;
    margin: 0 auto;
    padding: 40px 0 65px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media @tablet, @mobile {
      max-width: 100%;
      padding: 30px;
    }
    @media @mobile {
      padding: 15px;
    }
    label {
      .font-size(14);
      color: @black;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media @tablet, @mobile {
        margin-bottom: 100px;
      }
    }
    select {
      .font-size(18);
      font-family: @RM;
      color: @blue;
      border: none;
      background: transparent;
    }
    .input_wrap {
      margin-bottom: 15px;
      &.right_pos {
        .txt {
          direction: rtl;
        }
      }
    }
    .txt {
      width: 100%;
      .font-size(24);
      padding-right: 15px;
      background: transparent;
      color: @black;
      border: none;
      border-bottom: 1px solid @border;
    }
    .balance {
      .font-size(12);
      a {
        text-decoration: underline;
        font-size: inherit;
      }
    }
  }
  .changeBtn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: @blue;
    display: flex;
    align-items: center;
    justify-content: center;
    background: @blue;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 82px;
    cursor: pointer;
    @media @mobile {
      width: 30px;
      height: 30px;
    }
    &:hover {
      background: @darkBlue;
    }
    &:after {
      content: '';
      display: block;
      background-image: url('../img/ico/ico-doble-arrows.png');
      width: 24px;
      height: 24px;
      background-size: cover;
      @media @mobile {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid @border;
  .item {
    width: 50%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid @border;
    border-right: 1px solid @border;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.select {
  position: relative;
  select {
    background: transparent;
    border: none;
    padding: 0 20px 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #d6d9e3 transparent transparent transparent;
    position: absolute;
    right: 0;
    .pos-centerY;
  }
}

.chart {
  img {

    max-width: 100%;
  }
}

footer {
  background: @gray;
  padding: 45px 0 50px;
  @media @mobile {
    padding: 15px 0;
  }
  .footer-wrap {
    display: flex;
    padding-bottom: 80px;
    border-bottom: 2px solid #000;
    @media @mobile {
      flex-direction: column;
      padding-bottom: 0;
    }
    .item {
      width: 20%;
      @media @mobile {
        width: 100%;
        text-align: center;
      }
      &:last-child {
        .ttl {
          @media @mobile {
            display: none;
          }
        }
        @media @mobile {
          ul {
            display: block;
          }
        }
      }
      .ttl {
        .font-size(14);
        font-family: @RM;
        margin-bottom: 30px;
        color: #fff;
        @media @mobile {
          margin-bottom: 0;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        i {
          color: #fff;
          font-size: 18px;
          margin-left: 10px;
          display: none;
          @media @mobile {
            display: inline-block;
          }
        }
      }
      ul {
        display: none;
      }
      li {
        a {
          .font-size(14);
          line-height: 28px;
        }
      }
    }
  }
  .footer-copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    @media @mobile {
      flex-direction: column;
    }
    .select_wrap {
      padding: 0 10px;
      display: flex;
      align-items: center;
      i {
        display: inline-block;
      }
      select {
        height: 30px;
      }
    }
    .right_wrap {
      display: flex;
      align-items: center;
      @media @mobile {
        flex-direction: column;
      }
    }
    ul {
      display: flex;
      li {
        padding: 5px 10px;
        margin: 0 10px;
        a {
          .font-size(12);
        }
      }
    }
    .copy {
      .font-size(12);
      margin-left: 10px;
    }
  }
}
.chart {
  padding-right: 30px;
  padding-bottom: 45px;
  height: 380px;
  canvas {
    height: 100% !important;
  }
}
