/* colors */
/* colors */
/*fonts*/
/*Rubik*/
/*fonts*/
/*functions*/
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'RubikRegular', sans-serif;
  color: #7e7e7e;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  * {
    font-size: 13px;
  }
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.ttn {
  text-transform: none;
}
.h-nav {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w70p {
  width: 70%;
}
.w60p {
  width: 60%;
}
.w50p {
  width: 50%;
}
.w40p {
  width: 40%;
}
.w30p {
  width: 30%;
}
.justify {
  text-align: justify;
  font-size: 0.01px;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.justify .left,
.justify .right {
  display: inline-block;
  line-height: normal;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
/*default*/
body {
  min-height: 100%;
  height: 100%;
}
html {
  height: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.6875rem;
  border: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform-origin: 0% 100%;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover:before {
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}
.btn:hover span {
  z-index: 2;
}
.btn span {
  font-size: inherit;
  color: inherit;
  position: relative;
}
.btn.btnBlack {
  background: #000;
  height: 60px;
  width: 260px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .btn.btnBlack {
    width: auto;
    padding: 0 15px;
  }
}
.btn.btnBlack:hover {
  cursor: pointer;
}
.btn.btnBlack:hover:before {
  background-color: #fff;
}
.btn.btnBlack:hover span {
  z-index: 2;
  color: #000;
}
.btn.btnBlack span {
  font-size: inherit;
  color: inherit;
  position: relative;
}
.btn.btnBlue {
  height: 100px;
  background: #0069d5;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: "RubikMedium", sans-serif;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .btn.btnBlue {
    height: 60px;
  }
}
.btn.btnBlue:hover {
  cursor: pointer;
}
.btn.btnBlue:hover:before {
  background-color: #102131;
}
.btn.btnBlue:hover span {
  z-index: 2;
  color: #fff;
}
.ico {
  display: block;
  background-size: cover;
}
.ico.ico-user {
  background-image: url('../img/ico/ico-user.png');
  width: 52px;
  height: 52px;
}
@media only screen and (max-width: 767px) {
  .ico.ico-user {
    height: 26px;
    width: 26px;
  }
}
.ico.ico-graph {
  background-image: url('../img/ico/ico-graph.png');
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .ico.ico-graph {
    width: 25px;
    height: 25px;
  }
}
.ico.ico-bitcoin {
  background-image: url('../img/ico/ico-bitcoin.png');
  width: 37px;
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .ico.ico-bitcoin {
    width: 19px;
    height: 25px;
  }
}
.ico.ico-save {
  background-image: url('../img/ico/ico-save.png');
  width: 32px;
  height: 40px;
}
.ico.ico-pc {
  background-image: url('../img/ico/ico-pc.png');
  width: 40px;
  height: 31px;
}
.ico.ico-money {
  background-image: url('../img/ico/ico-money.png');
  width: 40px;
  height: 24px;
}
.ico.ico-network {
  background-image: url('../img/ico/ico-network.png');
  width: 43px;
  height: 42px;
}
.ico.ico-bag {
  background-image: url('../img/ico/ico-bag.png');
  width: 40px;
  height: 32px;
}
.ico.ico-bitcoin-2 {
  background-image: url('../img/ico/ico-bitcoin-2.png');
  width: 23px;
  height: 32px;
}
.ico.ico-bitcash {
  background-image: url('../img/ico/ico-bitcash.png');
  width: 22px;
  height: 35px;
}
.ico.ico-litecoine {
  background-image: url('../img/ico/ico-litecoin.png');
  width: 24px;
  height: 27px;
}
.ico.ico-dash {
  background-image: url('../img/ico/ico-dash.png');
  width: 32px;
  height: 21px;
}
.ico.ico-ripple {
  background-image: url('../img/ico/ico-ripple.png');
  width: 27px;
  height: 28px;
}
.ico.ico-world {
  background-image: url('../img/ico/ico-world.png');
  width: 18px;
  height: 18px;
}
.container {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0 30px;
}
header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .logo {
  font-size: 1.375rem;
  font-family: "RubikRegular", sans-serif;
  color: #fff;
  padding-left: 20px;
}
@media only screen and (max-width: 767px) {
  header .logo {
    padding-left: 60px;
  }
}
header .logo strong {
  font-family: "RubikBold", sans-serif;
  font-size: inherit;
  color: inherit;
}
header .header-wrap {
  display: flex;
  align-items: center;
}
header.sticky {
  background: #000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
header.sticky .btnBlack {
  background: #fff;
  color: #000;
}
header.sticky .btnBlack:hover:before {
  background: #000;
}
header.sticky .btnBlack:hover span {
  color: #fff;
}
nav {
  margin-left: 90px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  nav {
    margin-left: 0;
  }
}
nav ul {
  display: flex;
}
@media only screen and (max-width: 767px) {
  nav ul {
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 500;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
nav a {
  display: block;
  padding: 20px;
  font-size: 0.875rem;
  color: #fff;
  position: relative;
}
nav a:after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #5de539;
  position: absolute;
  left: 0;
  bottom: -3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
nav a:hover:after {
  width: 100%;
}
.show-nav .nav-trigger:focus {
  outline: none;
}
.show-nav .nav-trigger span {
  background-color: #fff;
}
.show-nav .nav-trigger span:nth-child(1) {
  transform: rotate(405deg);
  top: 5px;
}
.show-nav .nav-trigger span:nth-child(2) {
  opacity: 0;
}
.show-nav .nav-trigger span:nth-child(3) {
  transform: rotate(-405deg);
  bottom: 5px;
}
.show-nav header nav ul {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.nav-trigger {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  height: 30px;
  padding: 0;
  width: 30px;
  cursor: pointer;
  z-index: 520;
  position: fixed;
  left: 15px;
  top: 15px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .nav-trigger {
    display: block;
  }
}
.nav-trigger:focus {
  outline: none;
}
.nav-trigger span {
  background-color: #fff;
  display: block;
  height: 2px;
  margin: 3px auto;
  position: relative;
  transition: all 1s ease 0s;
  width: 18px;
}
.nav-trigger span:nth-child(2) {
  width: 16px;
}
.icoPlay {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  display: block;
}
.icoPlay:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 0 9.5px 16px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.more {
  color: #0069d5;
  font-size: 0.875rem;
  font-family: "RubikMedium", sans-serif;
  display: block;
}
.more:after {
  content: '';
  display: inline-block;
  background-image: url('../img/ico/ico-arrow.png');
  width: 16px;
  height: 7px;
  margin-left: 15px;
}
.side {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .side {
    flex-wrap: wrap;
  }
}
.side.halfs .side-left,
.side.halfs .side-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .side.halfs .side-left,
  .side.halfs .side-right {
    width: 100%;
  }
}
.side .item {
  height: 150px;
  width: calc(100% / 6);
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .side .item {
    padding: 15px;
    width: calc(100% / 3);
  }
}
@media only screen and (max-width: 767px) {
  .side .item {
    height: auto;
  }
}
.side .item:hover {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.side .item-title {
  align-items: center;
}
.side .item-ttl {
  font-family: "RubikMedium", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.side .item-sub-ttl {
  font-size: 0.875rem;
}
.side .item-name {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.side .item-count {
  font-size: 1.5rem;
  font-family: "RubikMedium", sans-serif;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .side .item-count {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .side .item-count {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .side .item-count {
    font-size: 0.875rem;
  }
}
.topSection {
  height: 100vh;
  background-image: url('../img/bg-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .topSection {
    height: auto;
    background-position: right 20% top;
  }
}
.topSection .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 150px);
  padding-top: 60px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .topSection .wrapper {
    flex-direction: column;
  }
}
.topSection .slogan {
  padding-left: 140px;
  font-size: 3.75rem;
  font-family: "RubikLight", sans-serif;
  color: #fff;
  line-height: 55px;
  width: 50%;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .topSection .slogan {
    padding-left: 50px;
    font-size: 2.8125rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .topSection .slogan {
    font-size: 2.8125rem;
    padding: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  .topSection .slogan {
    font-size: 1.875rem;
    line-height: 50px;
    text-align: center;
  }
}
.topSection .side {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .topSection .side {
    position: relative;
    bottom: auto;
    left: auto;
  }
}
.topSection .side .item {
  background: #0069d5;
}
.topSection .side .item:hover {
  background: #005cb9;
}
.topSection .side .item-title {
  background: #005cb9;
}
.topSection .side .item .ico-box {
  height: 42px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .topSection .side .item .ico-box {
    height: 30px;
  }
}
.topSection .side .item-ttl {
  color: #fff;
}
.topSection .side .item-sub-ttl {
  color: #fff;
}
.statistics {
  max-width: 50%;
  width: 100%;
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .statistics {
    max-width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .statistics {
    max-width: 90%;
  }
}
.statistics .item {
  height: 210px;
  width: calc(100% / 3);
  padding: 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .statistics .item {
    min-width: inherit;
    padding: 20px;
    height: 170px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .statistics .item {
    min-width: inherit;
    padding: 20px;
    height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .statistics .item {
    padding: 10px;
    height: 90px;
  }
}
.statistics .item:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.5);
}
.statistics .item:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.4);
}
.statistics .item:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.3);
}
.statistics .item .ico {
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .statistics .item .ico {
    margin-bottom: 10px;
  }
}
.statistics .item-count {
  color: #5de539;
  font-size: 1.5rem;
  font-family: "RubikMedium", sans-serif;
}
@media only screen and (max-width: 767px) {
  .statistics .item-count {
    font-size: 1.25rem;
  }
}
.statistics .item-descr {
  font-size: 0.75rem;
}
.percent.up {
  color: #00ad30;
}
.percent.down {
  color: #ef3625;
}
.section-2 {
  background: #000;
}
.section-2 .side.top {
  border-bottom: 1px solid #1d2021;
}
.section-2 .side.top .item {
  border-right: 1px solid #1d2021;
  flex-direction: row;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-2 .side.top .item {
    flex-direction: column;
  }
}
.section-2 .side.top .item:hover {
  background: #1d2021;
}
.section-2 .side.top .item:last-child {
  border-right: 0;
}
.section-2 .side.top .item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-2 .side.top .item-wrap {
    margin: 10px 0 0 0;
    text-align: center;
  }
}
.section-2 .side.top .item-title {
  background: #1d2021;
}
.section-2 .side.top .item-title .item-count {
  color: #fff;
}
.section-2 .side.top .item .percent {
  font-size: 0.875rem;
}
.section-2 .side.bottom {
  background: #1d2021;
}
.section-2 .side.bottom .item-title {
  background: #00c036;
}
.section-2 .side.bottom .item-title .item-ttl {
  color: #fff;
}
.section-2 .side.bottom .side-left .item {
  width: calc(100% / 4);
}
.section-2 .side.bottom .side-left .item:hover {
  background: #000;
}
.section-2 .side.bottom .side-left .item .percent {
  font-size: 1.5rem;
}
.section-2 .side.bottom .side-left .item-sub-ttl {
  font-size: 0.75rem;
  color: #444;
}
.section-2 .side.bottom .side-right {
  justify-content: flex-end;
}
.section-2 .side.bottom .side-right .item {
  width: calc(100% / 3);
}
.section-2 .side.bottom .side-right .item-count {
  color: #fff;
}
.section-2 .side.bottom .side-right .item-sub-ttl {
  font-size: 0.75rem;
  color: #444;
}
.section-2 .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-2 .filters {
    flex-direction: column;
    align-items: flex-end;
  }
}
.section-2 .filters ul {
  display: flex;
  align-items: center;
}
.section-2 .filters li {
  font-family: "RubikMedium", sans-serif;
  font-size: 0.875rem;
  color: #fff;
  padding: 15px 25px;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .section-2 .filters li {
    padding: 7px 10px;
  }
}
.section-2 .filters li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.section-2 .filters li:hover:after {
  width: 100%;
}
.advertsWrap {
  display: flex;
  flex-wrap: wrap;
}
.advertsWrap .item:nth-child(1) {
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: 190px;
  background-size: cover;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .advertsWrap .item:nth-child(1) {
    height: 320px;
  }
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(1) {
    width: 100%;
    height: 240px;
    padding-left: 30%;
  }
}
.advertsWrap .item:nth-child(1) .ttl {
  color: #28395a;
}
.advertsWrap .item:nth-child(1) .link {
  color: #503901;
}
.advertsWrap .item:nth-child(2) {
  height: 400px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #102131;
  padding: 60px 45px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(2) {
    background-size: 75% auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(2) {
    height: 320px;
  }
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(2) {
    height: 240px;
    width: 100%;
    padding: 30px;
  }
}
.advertsWrap .item:nth-child(2) .item-play-wrap {
  display: flex;
  align-items: center;
}
.advertsWrap .item:nth-child(2) .item-play-wrap .icoPlay {
  margin-right: 15px;
}
.advertsWrap .item:nth-child(2) .item-play-wrap .play-ttl {
  color: #fff;
  font-family: "RubikMedium", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.advertsWrap .item:nth-child(2) .item-play-wrap .play-sub-ttl {
  font-size: 0.75rem;
  color: #90a4ae;
  line-height: 12px;
}
.advertsWrap .item:nth-child(3) {
  height: 300px;
  background: #eceff1;
  display: flex;
  justify-content: center;
  padding: 80px 140px 50px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .advertsWrap .item:nth-child(3) {
    padding: 30px 20px;
    height: 250px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(3) {
    height: auto;
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }
}
.advertsWrap .item:nth-child(3) .ttl {
  color: #1d2021;
}
.advertsWrap .item:nth-child(3) .ico-ripple-logo {
  background-image: url('../img/ripple-logo.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 59px;
  margin-right: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .advertsWrap .item:nth-child(3) .ico-ripple-logo {
    width: 100%;
  }
}
.advertsWrap .item:nth-child(3) .item-wrap {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(3) .item-wrap {
    max-width: 100%;
    padding-top: 15px;
  }
}
.advertsWrap .item:nth-child(4) {
  height: 300px;
  background: #cfd8dc;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .advertsWrap .item:nth-child(4) {
    height: 250px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(4) {
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    padding-top: 15px;
  }
}
.advertsWrap .item:nth-child(4) .item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 80px 20px 50px 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .advertsWrap .item:nth-child(4) .item-wrap {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(4) .item-wrap {
    padding: 15px;
    height: auto;
  }
}
.advertsWrap .item:nth-child(4) .ttl {
  color: #1d2021;
}
.advertsWrap .item:nth-child(4) .ico-cashr {
  background-image: url('../img/ico/ico-cashr.png');
  width: 100%;
  height: 231px;
}
@media only screen and (max-width: 767px) {
  .advertsWrap .item:nth-child(4) .ico-cashr {
    width: 234px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.advertsWrap .item .ttl {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.advertsWrap .item .link {
  font-size: 0.875rem;
  text-decoration: underline;
}
.section-4 {
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-4 {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-4 .section-part {
    width: 100%;
  }
}
.section-4 .section-part.left .section-title {
  background: #fdfdfd;
  padding-left: 140px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-4 .section-part.left .section-title {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .section-4 .section-part.left .section-title {
    padding-left: 15px;
  }
}
.section-4 .section-part .section-title {
  height: 100px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eceff1;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-4 .section-part .section-title {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .section-4 .section-part .section-title {
    padding: 0 15px;
  }
}
.section-4 .section-part .section-title .ttl {
  font-size: 1.5rem;
  color: #1d2021;
}
.calculator {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .calculator {
    height: auto;
  }
}
.calculator .content-bar {
  display: flex;
  height: calc(100% - 100px);
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .calculator .content-bar {
    height: auto;
  }
}
.calculator .footer-bar {
  height: 100px;
  padding-left: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .calculator .footer-bar {
    padding-left: 30px;
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .calculator .footer-bar {
    height: auto;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .calculator .footer-bar .note {
    padding: 20px 0;
  }
}
.calculator .footer-bar .note div {
  font-size: 0.75rem;
}
.calculator .left-part {
  background: #fdfdfd;
  height: 100%;
}
.calculator .right-part {
  background: #f7f7f7;
  height: 100%;
}
.calculator .wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding: 40px 0 65px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .calculator .wrapper {
    max-width: 100%;
    padding: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .calculator .wrapper {
    padding: 15px;
  }
}
.calculator .wrapper label {
  font-size: 0.875rem;
  color: #1d2021;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .calculator .wrapper label {
    margin-bottom: 100px;
  }
}
.calculator .wrapper select {
  font-size: 1.125rem;
  font-family: "RubikMedium", sans-serif;
  color: #0069d5;
  border: none;
  background: transparent;
}
.calculator .wrapper .input_wrap {
  margin-bottom: 15px;
}
.calculator .wrapper .input_wrap.right_pos .txt {
  direction: rtl;
}
.calculator .wrapper .txt {
  width: 100%;
  font-size: 1.5rem;
  padding-right: 15px;
  background: transparent;
  color: #1d2021;
  border: none;
  border-bottom: 1px solid #eceff1;
}
.calculator .wrapper .balance {
  font-size: 0.75rem;
}
.calculator .wrapper .balance a {
  text-decoration: underline;
  font-size: inherit;
}
.calculator .changeBtn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0069d5;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 82px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .calculator .changeBtn {
    width: 30px;
    height: 30px;
  }
}
.calculator .changeBtn:hover {
  background: #102131;
}
.calculator .changeBtn:after {
  content: '';
  display: block;
  background-image: url('../img/ico/ico-doble-arrows.png');
  width: 24px;
  height: 24px;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .calculator .changeBtn:after {
    width: 12px;
    height: 12px;
  }
}
.partners {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #eceff1;
}
.partners .item {
  width: 50%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eceff1;
  border-right: 1px solid #eceff1;
}
.partners .item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.select {
  position: relative;
}
.select select {
  background: transparent;
  border: none;
  padding: 0 20px 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #d6d9e3 transparent transparent transparent;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.chart img {
  max-width: 100%;
}
footer {
  background: #1d2021;
  padding: 45px 0 50px;
}
@media only screen and (max-width: 767px) {
  footer {
    padding: 15px 0;
  }
}
footer .footer-wrap {
  display: flex;
  padding-bottom: 80px;
  border-bottom: 2px solid #000;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap {
    flex-direction: column;
    padding-bottom: 0;
  }
}
footer .footer-wrap .item {
  width: 20%;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap .item {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap .item:last-child .ttl {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap .item:last-child ul {
    display: block;
  }
}
footer .footer-wrap .item .ttl {
  font-size: 0.875rem;
  font-family: "RubikMedium", sans-serif;
  margin-bottom: 30px;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap .item .ttl {
    margin-bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-wrap .item .ttl i {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  display: none;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap .item .ttl i {
    display: inline-block;
  }
}
footer .footer-wrap .item ul {
  display: none;
}
footer .footer-wrap .item li a {
  font-size: 0.875rem;
  line-height: 28px;
}
footer .footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
@media only screen and (max-width: 767px) {
  footer .footer-copy {
    flex-direction: column;
  }
}
footer .footer-copy .select_wrap {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
footer .footer-copy .select_wrap i {
  display: inline-block;
}
footer .footer-copy .select_wrap select {
  height: 30px;
}
footer .footer-copy .right_wrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  footer .footer-copy .right_wrap {
    flex-direction: column;
  }
}
footer .footer-copy ul {
  display: flex;
}
footer .footer-copy ul li {
  padding: 5px 10px;
  margin: 0 10px;
}
footer .footer-copy ul li a {
  font-size: 0.75rem;
}
footer .footer-copy .copy {
  font-size: 0.75rem;
  margin-left: 10px;
}
.chart {
  padding-right: 30px;
  padding-bottom: 45px;
  height: 380px;
}
.chart canvas {
  height: 100% !important;
}
